In [1]:
import pandas as pd
import numpy as np

In [2]:
nn3 = pd.read_csv('NN3.csv')      #2483.9012
nn2 = pd.read_csv('NN2.csv')     #2440.1093
cat1 = pd.read_csv('CA_baseline.csv')    #2526.6346
xg1 = pd.read_csv('XG-STACK.csv')   #2680.9506
cat2 = pd.read_csv('CAT-20-FOLD-baseline.csv')   #2584.488

In [6]:
nn2_3 = (nn3.Item_Store_Returns + nn2.Item_Store_Returns)/2

In [8]:
all1 = (nn3.Item_Store_Returns + nn2.Item_Store_Returns + cat1.Item_Store_Returns + xg1.Item_Store_Returns
        + cat2.Item_Store_Returns)/5

In [9]:
#preparing the predictions make into the sample file for submission

sample1 = pd.read_csv('SampleSubmission.csv')
test = pd.read_csv('test.csv')
sample1.Item_Store_ID = test.Item_Store_ID
sample1.Item_Store_Returns = all1
sample1.to_csv('all1.csv', index = False)

In [5]:
nn2

           Item_Store_ID  Item_Store_Returns
0     DRA59_BABATUNJI010          1111.32570
1     DRA59_BABATUNJI013          8200.76900
2     DRB01_BABATUNJI013          8168.78860
3     DRB13_BABATUNJI010          1126.84000
4     DRB13_BABATUNJI013          8171.14500
...                  ...                 ...
3527  NCZ42_BABATUNJI010          2938.67000
3528  NCZ42_BABATUNJI013         10359.46900
3529  NCZ42_BABATUNJI049         10298.85800
3530  NCZ53_BABATUNJI010          1022.26276
3531  NCZ53_BABATUNJI013          8158.73200

[3532 rows x 2 columns]

In [10]:
all1

0       1826.756980
1       7608.979182
2       7638.968371
3       2028.941283
4       7668.806854
           ...
3527    3443.347688
3528    9146.573938
3529    9466.821231
3530    1924.454796
3531    7450.058981
Name: Item_Store_Returns, Length: 3532, dtype: float64

In [11]:
nn2_3

0       1377.66085
1       7535.77800
2       7551.84010
3       1528.65765
4       7672.18530
           ...
3527    3176.99835
3528    9467.99250
3529    9435.26450
3530    1345.56953
3531    7391.41630
Name: Item_Store_Returns, Length: 3532, dtype: float64